* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: block;
  margin: auto;
}

.title {
  text-align: center;
  color: blue;
}

label {
  position: absolute;
  left: -99999px;
  
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
}

.colorBox {
  width: 300px;
  height: 300px;
  border: black 2px solid;
  border-radius: 6px;
  box-shadow: 2px 2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}

form {
  width: 300px;
}

.searchForm input[type='text'] {
  flex-grow: 1;
  max-width: 30%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

input[type="text"] {
  margin-top: 0.5rem;
  padding: 0.25rem;
  width: 30%;
  font-size: 1rem;
  box-shadow: 2px 2px 5px #000;
  border-radius: 0.25rem;
  outline: none;
}

button {
  width: 30%;
  min-height: 48px;
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 5px #000;
  padding: 0.25rem;
}
